

body {
    background-color: #183262;

    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}


#startArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

#widthSet {
    width: 80%;
}



#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  /* align horizontal */
    align-items: center;  /* align vertical */
}

#title {
    display: flex;
    flex-direction: column;
    justify-content: center;  /* align horizontal */
    align-items: center;  /* align vertical */
    text-align: center;
    flex: 3;
    color:#dcb400;
    font-size: 1.6em;
    text-shadow: 2px 2px 4px #161616;
}


