

body {
    /* background-color: #183262; */
    background-image: url('../../../images/game-dev/moss_sparse.png');
    background-size: 30%;
    background-repeat: repeat;
    background-attachment: fixed; /* This will make the background image fixed, creating a parallax effect */


    color: #c5c5c5;

    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}


#startArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    height: 100vh;

}

#widthSet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    width: 80%;

    background-color: #161616;
}

#marginSet {
    width: 80%;
}


#title {
    display: flex;
    flex-direction: column;
    justify-content: center;  /* align horizontal */
    align-items: center;  /* align vertical */
    text-align: center;
    flex: 3;
    color:#dcb400;
    font-size: 1.6em;
    text-shadow: 2px 2px 4px #161616;
}


#navbar {

    display: flex;
    flex-direction: column;
    
    justify-content: space-between;  /* align horizontal */
    align-items: start;  /* align vertical */
    
}

.contentsListItem {
    color: #888888;
    text-decoration: none;
    font-size: 1.2em;
}

.text {
    
    color: #888888;
    font-size: .9em;
    line-height: 1.2;
}

.pic {
    width: 100%;
}

